<footer class="footer">

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9 mx-auto">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 px-0">
                            <div class="footer-widget footer-about">
                                <div class="footer-about-content">
                                    <p>
                                        Cổng thông tin điện tử Bộ Y Tế (MOH)
                                        Bản quyền thuộc Bộ Y Tế
                                        Số 138A Giảng Võ - Ba Đình - Hà Nội
                                        ĐT: 0246.273.2.273 |Fax:0243.8464.051
                                    </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 px-0">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Quản trị</h2>
                                <ul>
                                    <li><a href="#">Tra cứu thông tin tiêm chủng</a></li>
                                    <li><a href="/admin/login">Đăng nhập</a></li>
                                    <li><a href="/admin/login">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 px-0">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Liên hệ với chúng tôi</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        <a href="https://doccure-html.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="91f5fef2f2e4e3f4d1f4e9f0fce1fdf4bff2fefc">[email&#160;protected]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container-fluid">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">Phần mềm được thực hiện bở nhóm KLTN</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="#">Thu</a></li>
                                <li><a href="#">Quốc</a></li>
                                <li><a href="#">Thanh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>